@import '../base/variables.scss';
@import '../base/colours.scss';
@import '../base/mixins.scss';

.cards--web{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 5rem;
}

// Web Projects
.card--web{
  max-width: 35rem;
  padding: 2rem 0;
  background-image: linear-gradient(
    to top,
    $gradient-2 0%,
    $gradient-3 35%,
    $gradient-4 60%,
    $gradient-5 100%
  );

  .card__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.card__img {
  width: auto;
  img {
    max-height: 20rem;
    border-radius: 1rem;
    vertical-align: middle;
  }
}

.card__features {
  padding: calc($padding_elemt * 2) $padding_elemt;
  @include tablet {
    padding: 0;
  }

  .card__title {
    h3 {
      color: $color-2;
      margin-bottom: $margin_elemt;
      &:hover {
        color: $link-hover;
      }
    }
  }

  .card__span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: $margin_elemt;
    text-align: center;


    .card__year {
      background-color: $btn-blue;
      padding: 0.4rem 1rem;
      color: $link;
      border-radius: 0.6rem;
      margin-right: calc($margin_elemt/2);
    }
    
    .card__tools {
      color: rgb(46, 46, 46);
      line-height: 2.5rem;
    }
  }

  .card__description {
    text-align: center;
    line-height: 2rem;
    margin-bottom: calc($margin_elemt*2);
    @include tablet {
      text-align: left;
    }
  }
  .card__link{
    display: flex;
    justify-content: space-evenly;
  }
}

hr {
  height: 0.1rem;
  background-color: $line;
  border: 0.1rem solid $line;
  margin: $margin_elemt 0;

  @include tablet {
    margin: $margin_elemt 0;
  }
}

.oculto{
  display: none;
}
