@import "../base/colours.scss";
@import "../base/mixins.scss";

.custom-shape-divider {
  margin: -5rem 0 5rem;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  @include telefono {
    margin: -6rem 0 5rem;
  }
  @include tablet {
    margin: -10rem 0 5rem;
  }
  svg {
    display: block;
    width: calc(106% + 1.3px);
    height: 80px;
    @include tablet {
      width: calc(100% + 1.3px);
      height: 100px;
    }
  }
  .shape-fill {
    fill: $neutral-2;
  }
}
